body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #f0941c71, #fcfbfa);
  }
  
  h1 {
    background-color: #0100068b;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header nav ul {
    list-style-type: none;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .container {
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  

  #team {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 11px;
  }
  
  .team-member {
    text-align: center;
  }
  
  .team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  h2{
    text-align: center;
  }

  h3{
    color: rgb(9, 9, 165);
  }
  